EndWorldFrontEnd/node_modules/
EndWorldBackEnd/obj/
EndWorldBackEnd/bin/
EndWorldAPI/.idea/
EndworldAPI/EndworldAPI/bin/
EndworldAPI/EndworldAPI/obj/
EndworldAPI/.idea/
EndworldAPI/.vs/
EndWorldFrontEnd/.idea/
EndWorldBackEnd/.idea/
EndworldAPI/EndworldAPI/EndworldAPI/bin/
EndworldAPI/EndworldAPI/EndworldAPI/obj/
EndworldAPI/EndworldAPI/EndworldAPI/bin/