<div id="loginContainer">

    <div id="loginDiv">
        <div class="nes-field">
            <div id="usernameInputDiv">
                <label for="usernameInput">Username</label>
                <input type="text" id="usernameInput" class="nes-input">
            </div>
        </div>
        <div class="nes-field">
            <div id="passwordInputDiv">
                <label for="passwordInput">Password</label>
                <input type="text" id="passwordInput" class="nes-input">
            </div>
        </div>
    </div>

</div>