#loginContainer{
    text-align: center;
    position: relative;
}

#usernameInput{
    
}

#usernameInputDiv{
    width: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

#passwordInput{

}

#passwordInputDiv{
    width: 50%;
    display: inline-block;
}

#loginDiv{
    position: relative;
    margin-top: 10%;
    height: 50%;
}